.root {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.container {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 45px;
}