@import "../../../styles/variables.scss";
@import "../../../styles/breakpoints.scss";

.optionsContainer {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  max-height: 300px;
  display: none;
  border: 1px solid var(--border-focus-color);
  border-top: none;
  border-radius: 0px 0px $border-radius $border-radius;
  background: var(--secondary-background-color);
  z-index: 10;

  &.active {
    display: block;
  }
}

.options {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;

  @media (max-width: $s-viewport) {
    margin: 20px 0px 35px 0px;
  }
}

.option {
  padding: 11px 19px 11px 22px;

  &:hover {
    color: var(--inverse-text-color);
    background: var(--inverse-background-color);
  }

  @media (max-width: $s-viewport) {
    padding: 11px 19px 11px 15px;
  }
}
