@import "@/shared/styles/variables.scss";
@import "@/shared/styles/breakpoints.scss";

.root {
  max-height: 300px;
}

.options {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;

  @media (max-width: $s-viewport) {
    margin: 20px 0px 35px 0px;
  }
}

.option {
  padding: 11px 19px 11px 22px;

  &:hover {
    color: var(--inverse-primary-color);
    background: var(--inverse-background-color);
  }

  @media (max-width: $s-viewport) {
    padding: 11px 19px 11px 15px;
  }
}
