@import url("./colors.scss");
@import url("./fonts.scss");
@import "@/shared/styles/breakpoints.scss";

:root {
  font-family: "Roboto", Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background: none;
}

#root {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: $l-viewport) {
    padding: 0 42px;
  }

  @media (max-width: 768px) {
    padding: 0 34px;
  }

  @media (max-width: $xs-viewport) {
    padding: 0 20px;
  }
}

body {
  background: var(--background-color);
  color: var(--primary-color);
}

.text-collapse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1 {
  // for card title
  font-size: 18px;
  font-weight: 700;
}

h2 {
  // for text in select
  font-size: 16px;
  font-weight: 500;
}

h3 {
  // for title in card
  font-size: 13px;
  font-weight: 500;
}

.pagination-text {
  // for pagination
  font-size: 18px;
  font-weight: 500;
}

.placeholder {
  // for placeholder in filters
  font-size: 13px;
  font-weight: 400;
}

span {
  // for text in card
  font-size: 13px;
  font-weight: 300;
}
