@import url("./colors.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background: none;
}

#root {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background: var(--background-color);
  color: var(--primary-color);
}

.text-collapse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1 {
  // for card title
  font-size: 18px;
  font-weight: 600;
}

h2 {
  // for text in select
  font-size: 16px;
  font-weight: 500;
}

h3 {
  // for title in card
  font-size: 13px;
  font-weight: 500;
}

h4 {
  // for pagination
  font-size: 18px;
  font-weight: 500;
}

.placeholder {
  // for placeholder in filters
  font-size: 13px;
  font-weight: 400;
}

span {
  // for text in card
  font-size: 13px;
  font-weight: 300;
}
