:root {
  --text-color: #000000;
  --inverse-text-color: #ffffff;
  --svg-color: #000000;
  --border-color: #b3b3b3;
  --border-focus-color: #000000;
  --background-color: #ffffff;
  --inverse-background-color: #000000;
  --secondary-background-color: #ffffff;
  --alternate-background-color: rgba(255, 255, 255, 0.75);

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #7b7b7b;
  --color-light-grey: #b3b3b3;
  --color-white-grey: #ededed;
}

:root[data-theme="light"] {
  --text-color: #000000;
  --inverse-text-color: #ffffff;
  --svg-color: #000000;
  --border-color: #b3b3b3;
  --border-focus-color: #000000;
  --background-color: #ffffff;
  --inverse-background-color: #000000;
  --secondary-background-color: #ffffff;
}

:root[data-theme="dark"] {
  --text-color: #ffffff;
  --inverse-text-color: #000000;
  --svg-color: #ffffff;
  --border-color: #ffffff;
  --border-focus-color: #ffffff;
  --background-color: #000000;
  --inverse-background-color: #ffffff;
  --secondary-background-color: #0c0c0c;
}
