@import "shared/styles/variables.scss";

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.dropdown {
  width: 100%;
  min-height: 45px;
  padding: 0px 18px 0px 15px;
  display: flex;
  align-items: center;
  color: var(--color-light-grey);
  border: 1px solid var(--color-light-grey);
  border-radius: $border-radius;
  background: var(--secondary-background-color);
  gap: 10px;

  &.active {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--color-light-grey);
    border-radius: $border-radius $border-radius 0px 0px;

    &:hover {
      border-bottom: 1px solid var(--color-light-grey);
    }
  }

  &:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
}

.content {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  display: none;
  border: 1px solid var(--primary-color);
  border-top: none;
  border-radius: 0px 0px $border-radius $border-radius;
  background: var(--secondary-background-color);
  z-index: 10;

  &.active {
    display: block;
  }
}

.icon {
  margin-left: auto;
  display: flex;

  svg {
    width: 10px;
    height: 6px;
    fill: var(--color-light-grey);
  }

  &.active svg {
    transform: rotate(180deg);
  }
}
